<nav>
  <h4 class="nav_heading"><a href="/">Business</a></h4>
  <ul class="nav_list">
    <li class="nav_list__item"><a href="/about">ABOUT</a></li>
    <li class="nav_list__item"><a href="/work">WORK</a></li>
    <li class="nav_list__item"><a href="/team">TEAM</a></li>
    <li class="nav_list__item"><a href="/blog">BLOG</a></li>
    <li class="nav_list__item"><a href="/contact">CONTACT US</a></li>
  </ul>
  
    <% if (!(path === '/login')) { %>
    <div class="nav_contact">
      <a href="/login">LOGIN</a>
    </div>
    <% } else { %>
    <div class="nav_contact">
      <a href="/signup">SIGNUP</a>
    </div>
    <% } %>
</nav>