<nav>
  <h4 class="nav_heading"><a href="/">Business</a></h4>
  <ul class="nav_list">
    <li class="nav_list__item"><a href="/dashboard">Dashboard</a></li>
    <!-- <li class="nav_list__item"><a href="#">Products</a></li> -->
    <li class="nav_list__item"><a href="#">Mobil Oil</a></li>
    <!-- <li class="nav_list__item"><a href="#">Accounts</a></li> -->
    <li class="nav_list__item"><a href="/bill" target="_blank">Bills</a></li>
  </ul>
  <!-- <div class="nav_contact--logout"> -->
    <form action="/logout" method="POST" id="logout">
      <input type="submit" value="LOGOUT">
    </form>
  <!-- </div> -->
</nav>