<%- include('includes/head.ejs') %>
<link rel="stylesheet" href="css/about.css">
</head>
<body>

  <%- include('includes/nav.ejs') %>
  <section class="main_welcome">
    <div class="about_info">
      <h1>About Us</h1>
      <!-- <h4>Give your business a boost with a beautifully crafted inventory.</h4> -->
      <!-- <div class="main_welcome_contact">
        <a href="#">LEARN MORE</a>
      </div> -->
    </div>
    <!-- <img src="https://images.pexels.com/photos/23474/pexels-photo.jpg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt=""> -->
  </section>

  <section class="main_introduction">
    <!-- <p>WHAT WE BELIEVE IN</p> -->
    <h3>We’re a group of creative thinkers who have built a <br> business to change the world.</h3>
    <hr>
  </section>

  <section class="information">
    <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean. A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>
    <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean. A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>
    <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean. A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>
  </section>

  <section class="services">
    <h6>WHAT WE ARE BEST AT</h6>
    <h2>Our Services</h2>
    <div class="features">
      <div class="feature">
        <img src="media/icon.svg" alt="Icon">
        <h3>Support</h3>
        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts</p>
      </div>
      <div class="feature">
        <img src="media/icon.svg" alt="Icon">
        <h3>Strategy</h3>
        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts</p>
      </div>
      <div class="feature">
        <img src="media/icon.svg" alt="Icon">
        <h3>Management</h3>
        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts</p>
      </div>
      <div class="feature">
        <img src="media/icon.svg" alt="Icon">
        <h3>Training</h3>
        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts</p>
      </div>
      <div class="feature">
        <img src="media/icon.svg" alt="Icon">
        <h3>Consulting</h3>
        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts</p>
      </div>
      <div class="feature">
        <img src="media/icon.svg" alt="Icon">
        <h3>Events</h3>
        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts</p>
      </div>
    </div>
  </section>

  <section class="extraInfo">
    <h1>Grow your business.</h1>
    <p>
      Today is the day to build the business of your dreams. Share your mission with the world — and <br> blow your customers away.
    </p>
    <div class="information_contact">
      <a href="#">START NOW</a>
    </div>
  </section>

<%- include('includes/end.ejs') %>