<%- include('includes/head.ejs') %>
<link rel="stylesheet" href="css/about.css">
<link rel="stylesheet" href="css/work.css">
<link rel="stylesheet" href="css/blog.css">
</head>
<body>

  <%- include('includes/nav.ejs') %>
  <section class="main_welcome">
    <div class="about_info">
      <h1>OUR BLOGS</h1>
      <!-- <h4>Give your business a boost with a beautifully crafted inventory.</h4> -->
      <!-- <div class="main_welcome_contact">
        <a href="#">LEARN MORE</a>
      </div> -->
    </div>
    <!-- <img src="https://images.pexels.com/photos/23474/pexels-photo.jpg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt=""> -->
  </section>

  

<%- include('includes/end.ejs') %>