<%- include('includes/head.ejs') %>
<link rel="stylesheet" href="css/about.css">
<link rel="stylesheet" href="css/work.css">
<link rel="stylesheet" href="css/contact.css">
</head>
<body>

  <%- include('includes/nav.ejs') %>
  <section class="main_welcome">
    <div class="about_info">
      <h1>CONTACT US</h1>
      <!-- <h4>Give your business a boost with a beautifully crafted inventory.</h4> -->
      <!-- <div class="main_welcome_contact">
        <a href="#">LEARN MORE</a>
      </div> -->
    </div>
    <!-- <img src="https://images.pexels.com/photos/23474/pexels-photo.jpg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt=""> -->
  </section>

  <section class="contact">
    <div class="one">
      <h2>Contact us</h2>
      <p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life One day however a small line of blind text by the name of Lorem Ipsum decided to leave for the far World of Grammar.</p>
      <form>
        <div class="single_entry">
          <label for="name">NAME</label>
          <input type="text" name="name" placeholder="Enter your Name">
        </div>
        <div class="single_entry"> 
          <label for="email">EMAIL ADDRESS</label>
          <input type="email" name="email" placeholder="Enter your E-Mail Address">
        </div>
        <div class="single_entry">
          <label for="message">MESSAGE</label>
          <textarea name="message"></textarea>
        </div>
        <div class="single_entry">
          <button type="submit">Connect</button>
        </div>
      </form>
    </div>
    <div class="two">
      <div>
        <h4>OUR OFFICES</h4>
        <p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic.</p>
      </div>
      <div>
        <h4>OUR OFFICE</h4>
        <p>908 Broadway,</p>
        <p>San Francisco,</p>
        <p>CA 94133</p>
      </div>
      <div>
        <h4>WORKING HOURS</h4>
        <p>9AM - 3PM, Mon to Fri</p>
      </div>
      <div>
        <h4>CONTACT</h4>
        <p style="text-decoration: underline;">harshsukhijacse@gmail.com</p>
        <p>+91 1234456661</p>
      </div>
    </div>
  </section>

<%- include('includes/end.ejs') %>