@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.cover {
  /* border: 2px solid yellow; */
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  font-family: 'Poppins', sans-serif;
  
}

.cover img {
  width: 30rem;
}

.coverDetails {
  /* border: 2px solid lawngreen; */
  padding: 20px;
  margin-left: 80px;
}

.coverDetails h2 {
  font-size: 70px;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  /* border: 2px solid hotpink; */
  width: 80%;
  margin: auto;
  margin-bottom: 50px;
}

.card {
  /* border: 2px solid gold; */
  width: fit-content;
  background-color: #fff;
  color: #000;
  padding: 10px 80px;
  border-radius: 20px;
  transition: all 0.1s ease-in;
  cursor: pointer;
  margin-bottom: 30px;
  background-color: #333232;
  color: #fff;
  box-shadow: 1px 3px 14px 0px rgba(0,0,0,0.75);
  -webkit-box-shadow: 1px 3px 14px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 1px 3px 14px 0px rgba(0,0,0,0.75);
}

.card img {
  width: 200px;
  height: 200px;
}

.card h4 {
  text-align: center;
  font-size: 18px;
  font-family: 'Poppins', sans-serif;
}

.card:hover {
  transform: scale(1.03);
}
