.services {
  margin-top: 130px;
}

.features {
  grid-template-columns: 1fr 1fr;
  padding: 40px;
}

.feature {
  text-align: center;
  width: fit-content;
  margin: auto;
  margin-bottom: 50px;
}

.feature img {
  width: 400px;
}

.feature p {
  width: 80%;
  margin: auto;
}